.spacing
  = link_to t('back'), :back, :class => 'btn back'
  %h1.pageheader= t('ideas.new_ideas')
  .blogcenter
    .text=raw text_values(:new_idea).body
  .smallspacing
  .clear= render :partial => "form"
