- content_for :breadcrumbs do
  %li=link_to t("home"), :root
  %li=link_to @channel.title, [@channel]

.spacing
  %h1.pageheader= t('ideas.new_ideas')
  .blogcenter
    .text=raw text_values(:new_idea).body
  .smallspacing
  .clear= render :partial => "form"
