/ / - raise comment.inspect
/ - if comment.user_id.present?
/   %h3= comment.user.username
/ - else
/   %h3= comment.name
/ %p= comment.body


/ - raise comment.inspect
%article.comment
  .useravatar
    - if comment.user
      =image_tag comment.user.avatar.url(:portrait)
    -else
      %img{:src => "http://placehold.it/150x150"}
  - if comment.user == current_user
    =link_to "X", [@channel, @idea, comment], :method => :delete, :class => "pull-right"
  .content

    - if comment.user_id.present?
      %h3=link_to comment.user.username, comment.user
    - else
      %h3= comment.name
    .text= comment.body


