/ .pull-right
.row-fluid
  .span24
    .avatar
      =link_to user do
        -if user.avatar.present?
          =image_tag user.avatar.url(:portrait), :width => 75, :height => 75
        -else
          %img{:src=> 'http://placehold.it/300x300', :width => 75, :height => 75}
    .user_info
      =link_to user.username, user
      %p Karmascore:
      %p= karmarank(user.score)
    .karmascore=user.score