.spacing
  =link_to (t("back") + " naar #{@channel.title}"), @channel
  %h2= @channel.title + " - "+ t("episodes.all_episodes")
.spacing
  - @episodes.in_groups_of(3, false) do |episodes|
    .row-fluid
      .span24
        - @episodes.each do |episode|
          .span8
            %h2= episode.title
            =image_tag episode.image.url(:front)
            %p=smart_truncate(strip_tags(episode.description), :words => 20).html_safe
            = link_to episode.title, [@channel,episode]