- content_for :breadcrumbs do
  %li=link_to t("home"), :root

.spacing
  %section.span24
    %article.span12
      %h1=raw text_values(:about).title
      - if text_values(:about).images.first
        =image_tag text_values(:about).images.first.url(:front)
      .text.inleiding=raw text_values(:about).body


    %section.span12
      %article
        %h3=raw text_values(:about_person_1).title
        - if text_values(:about_person_1).images.first
          =image_tag text_values(:about_person_1).images.first.url(:front)
        .text.karmapagina=raw text_values(:about_person_1).body


      %article
        %h3=raw text_values(:about_person_2).title
        - if text_values(:about_person_2).images.first
          =image_tag text_values(:about_person_2).images.first.url(:front)
        .text.karmapagina=raw text_values(:about_person_2).body




