- content_for :breadcrumbs do
  %li=link_to t("home"), :root

.spacing
  %section.span24
    %article
      .span12
        %h1=raw text_values(:karma).title
        %p.inleiding=raw text_values(:karma).body
      .span12
        .spacing=image_tag "karma_icon_large.png", :style => "margin:0 auto; display:block"



  %section.row-fluid
    %article.span6
      %h3=raw text_values(:karma_col_1).title
      %p.karmapagina=raw text_values(:karma_col_1).body

    %article.span6
      %h3=raw text_values(:karma_col_2).title
      %p.karmapagina=raw text_values(:karma_col_2).body

    %article.span6
      %h3=raw text_values(:karma_col_3).title
      %p.karmapagina=raw text_values(:karma_col_3).body

    %article.span6
      %h3=raw text_values(:karma_col_4).title
      %p.karmapagina=raw text_values(:karma_col_4).body
