
//= require bootstrap
//= require jquery.chosen
//= require jquery.Jcrop
//= require jquery.timepicker
//= require jquery.tagsinput
//= require admin/default
//= require_self

$oranje:#ff5400;
$darkorange:#c44102;
$zwart:#070707;
$wit:#ffffff;
$grijs_licht:#1c1c1c;
$grijs_donker:#1c1c1c;
$timecolor:#666666;
$oranje_tint:$oranje;
// $input_grey:#3d3d3d;
$input_grey:#222222;

.center{
  width:300px;
  margin:0 auto;
}
.hide{
  display:none;
}


.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th{
  background:#000 !important;
}

//can't touch this!
.blog{
  .afbeelding{
    .changer,
    .youtube_filter,
    .text_filter{display:none;}
    .image_filter{display:block !important;}
  }
  .youtubefilm{
    .changer,
    .image_filter,
    .text_filter{display:none;}
    .youtube_filter{display:block !important;}
  }
  .tekst{
    .changer,
    .youtube_filter,
    .image_filter{display:none;}
    .text_filter{display:block !important;}
  }
}

.adminspace{
  height:60px;
  width:100%;
}
//except for this, you can touch this


/*******************************************************************
************************ STRUCTURE STYLING *************************
*******************************************************************/

body {
  background:rgb(240,240,240)!important;
}

.container-fluid {
  padding-left:0px;
  padding-right:0px;
}

.spacing {
  padding-left:20px;
  padding-right:20px;
}

/*******************************************************************
************************* NAV STYLING ******************************
*******************************************************************/

.adminspace {
  background:rgb(220,220,220)!important;
}

.navbar-inner {
  background:rgb(220,220,220)!important;
  border-bottom:none!important;
  -webkit-box-shadow:none!important;
  box-shadow:none!important;

}

.container-fluid {
    border-bottom:1px solid rgb(200,200,200);
  outline:1px solid white;

}

.nav li {
  height:60px!important;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
  a {
    height:60px!important;
    padding:0px!important;
    line-height:60px!important;
    padding-left:20px!important;
    padding-right:20px!important;
    color:rgb(100,100,100)!important;
    text-shadow: 0px 1px 1px #ffffff!important;
    filter: dropshadow(color=#ffffff, offx=0, offy=1)!important;
  }
}

.nav li:hover {
  background: #ff5800;
}

.nav li:hover a {
  height:60px!important;
  padding:0px!important;
  line-height:60px!important;
  padding-left:20px!important;
  padding-right:20px!important;
  color:white!important;
  text-shadow: 0px 1px 1px #646464!important;
  filter: dropshadow(color=#646464, offx=0, offy=1)!important;
}

.brand {
  height:60px!important;
  padding:0px!important;
  line-height:60px!important;
  padding-left:40px!important;
  padding-right:20px!important;
  color:rgb(100,100,100)!important;
  text-shadow: 0px 1px 1px #ffffff!important;
  filter: dropshadow(color=#ffffff, offx=0, offy=1)!important;
}

.brand:hover {
  color:white!important;
  text-shadow: 0px 1px 1px #646464!important;
  filter: dropshadow(color=#646464, offx=0, offy=1)!important;
}

.navbar .btn {
  margin-top:15px!important;
  margin-right:20px;
  background:rgb(100,100,100);
  color:rgb(250,250,250)!important;
  text-shadow:none!important;
  filter:none!important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
}

.navbar .btn:hover {
  background:#ff5800;
}

/*******************************************************************
********************** TABLE STYLING ******************************
*******************************************************************/

.table {
  background: white;
  color:rgb(100,100,100);
  text-shadow: 0px 1px 1px #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  border:1px solid rgb(200,200,200);
  outline:1px solid white;
  margin-top:10px;
}

.table tr th {
  background:rgb(220,220,220);
  border-bottom: 1px solid rgb(200,200,200);
  padding:5px 10px 5px 10px;
  border-top:none!important;
}

.table tr td {
  background: white;
  padding:5px 10px 5px 10px;
  border-top:none!important;
  vertical-align: middle!important;
}

.table tr:nth-child(even) td {
  background: rgb(240,240,240);
}

.table tr td p {
  margin:0px!important;
}

/*******************************************************************
********************** FORM ACTIONS STYLING ************************
*******************************************************************/

.form-actions {
  background: white;
  border:1px solid rgb(200,200,200);
  outline:1px solid white;
}

/*******************************************************************
********************** PAGE HEADER STYLING ************************
*******************************************************************/

.page-header h1 {
  color:rgb(100,100,100);
  text-shadow: 0px 1px 1px #ffffff!important;
  filter: dropshadow(color=#ffffff, offx=0, offy=1)!important;
}

.page-header {
  border-bottom: none!important;
}

.page-header li {
  width: 200px;
  list-style-type: none;
}

.page-header li a {
  width: 180px;
  padding:3px 10px 3px 10px;
  display: block;
}

.page-header li:hover {
  background: rgb(250,250,250);
}

.page-header li a:hover {
  color:#ff5800!important;
}

/*******************************************************************
********************** BUTTON STYLING ******************************
*******************************************************************/

.btn {
  border: none!important;
}

.btn-primary {
  background: #0c7f00!important;
  padding:3px 20px 3px 20px!important;
  color:white!important;
  text-shadow: 0px 1px 1px #646464!important;
  filter: dropshadow(color=#646464, offx=0, offy=1)!important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none!important;
}

.btn-primary:hover {
  background: #249a18!important;
}

.btn-mini {
  background: #ff5800!important;
  padding:3px 20px 3px 20px!important;
  color:white!important;
  text-shadow: 0px 1px 1px #646464!important;
  filter: dropshadow(color=#646464, offx=0, offy=1)!important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top:3px!important;
  margin-bottom:3px!important;
  font-size: 14px!important;
  border: none!important;
}

.btn-mini:hover {
  background: #fd7229!important;
}

.btn-danger {
  padding:3px 20px 3px 20px!important;
  background:#e02020!important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none!important;
}

.btn-danger:hover {
  background:#e24545!important;
}

.btn.back {
  margin-top: 20px;
  color: $oranje;
}

/*******************************************************************
********************** IMAGES STYLING ******************************
*******************************************************************/

#images {
  a {
    margin-top:20px;
    margin-right: 20px;
  }
}

.hint {
  padding-top:10px;
  display: block;
}

/*******************************************************************
*********************** FIELD STYLING ******************************
*******************************************************************/

.field {
  clear:both;
}

input[type=checkbox] {
  float:left;
  margin-right: 10px;
}
/*******************************************************************
********************** DENNIS STYLING ******************************
*******************************************************************/

span.checkbox {
  display: block;
}

/*******************************************************************
********************** STYLEHACKZ STYLING **************************
*******************************************************************/

.mt10 {
  margin-top:10px!important;
}
