- if admin? && question.approved == false
  =form_for [:admin, @episode.channel, @episode, question], :method => "put", :remote => true do |f|
    %h5= question.user.username
    %p= question.question
    =f.check_box :approved, :class => "check_box_question"
    =f.submit "Send"
-if question.approved == true
  %li.vraag_text
    .pull-left.avatar
      -if question.user.avatar.present?
        =image_tag question.user.avatar.url(:portrait)
    .text
      %author=link_to question.user.username, question.user
      %time= " - "+l(question.updated_at, :format => :short)
      .vraag=question.question
      .clear
