- if admin? && question.approved == false
  =form_for [:admin, @episode.channel, @episode, question], :method => "put", :remote => true do |f|
    %h5= question.user.username
    %p= question.question
    =f.check_box :approved, :class => "check_box_question"
    =f.submit "Send"
-if question.approved == true
  %li
    .span3
      %img{:src => "http://placehold.it/450x410"}
    .span21.vraag_text
      .username= question.user.username
      %time= l(question.updated_at, :format => :short)
      .vraag=question.question