// De titel, te verdienen punten en omschrijving kun je zo laten, hieromheen de layout bouwen
%section.span18.content
  %header
    %h1= @challenge.title
    .points= @challenge.points

  .row-fluid
    %section.challlenge_show
      .row-fluid
        %article.span24
          %p Mark van As - 28 oktober 2012 - 13:37 uur
          %img{:src => "http://placehold.it/910x400", :align => 'left'}

          =link_to t("do_challenge"), [:new, @channel, @challenge, :solution], :class => "btn"
          %p=raw @challenge.description

  .row-fluid
    %section.alle_challenges
      %h3 Meer challenges
  - 25.times do
    - @challenge.solutions.in_groups_of(2,false).each do |solutions|
      .row-fluid
        %article
          .span24
            - solutions.each do |solution|
              .span12
                .span24
                  .span10
                    %img{:src => "http://placehold.it/710x500"}
                  .span14
                    %h4=link_to solution.title, [@channel, @challenge, solution]
                    .username= solution.user.username
                    .description= solution.description

%aside.span6
  %section.challenges_box
    %article
      %h4 Andere challenges
      %ul 
        %li Malesuada Aenean Adipiscing Lorem Risus
        %li Malesuada Aenean Adipiscing Lorem Risus
        %li Malesuada Aenean Adipiscing Lorem Risus
        %li Malesuada Aenean Adipiscing Lorem Risus



