// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chatForm form .span24 {
  margin-top: 10px !important;
}

.chatForm.input-append input[type="submit"]  {
  height: 30px !important;

}

.chatForm.input-append input[type="text"] ,
.chatForm.input-append input[type="email"] {
  left: -2px;
  padding: 4px 0px !important;
  margin-right: 0px !important;
  width: 100% !important;
}
.chatForm.input-append input[type="submit"] {
  width: auto !important;
}

.inleiding {
  font-size: 1.4em;
  margin-bottom: 3em;
}

.karmapagina {
  margin-bottom: 3em;
}

.changemakers  p {
  margin-left: 8.5em !important;
}

.changemakers h4, .links h4 {
  margin-top: 1em !important;
}

.changemakers h5 {
  float: left;
  width: 100% !important;
}

.naam_uitzending {
  font-weight: bold !important;
  color:#ff5400 !important;
}

.laatste_afleveringen_klein {
  margin-top: 4em !important;
  .span24 {
    margin: 0 !important;
  }
}

.smallspacing {
  // margin-left: 2em !important;
}
#chatBox{
  background-color: #E64D00;
  width:95%;
  overflow: scroll;
  ul{
    width:100%;
  }
  h5, p {
    margin-left: 1em;
  }
  h5 {
    margin-bottom: 0 !important;
  }

}

/* article.vorige_uitzending:last-of-type
{
padding-right: 0 !important;
}
*/
