/*
//= require reset

//= require_self
//= require_tree .
*/

$oranje:#ff5400;
$zwart:#070707;
$wit:#ffffff;
$grijs_licht:#262626;
$grijs_donker:#151515;
$oranje_tint:$oranje;
// $input_grey:#3d3d3d;
$input_grey:$grijs_licht;
$slopeheight:100px;

%transition{
  -webkit-transition: all 500ms ;
  -moz-transition: all 500ms ;
  -ms-transition: all 500ms ;
  -o-transition: all 500ms ;
  transition: all 500ms ;
}

body{
  color:$wit !important;
  font-family:"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  font-size:15px !important;
  line-height:1.5 !important;
  font-weight:lighter !important;
  padding-top:0px !important;
  background:$zwart !important;
  max-width: 1920px;
}
.text {
    font-size:17px !important;
    font-weight:lighter;
    line-height:1.7em !important;
}
header{
  padding:30px 15px 0 15px;

}
.slopel.menu{margin-bottom:-$slopeheight;}


h1, h2, h3, h4, h5, h6{
  font-family:"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  text-transform:uppercase;
  letter-spacing:1px;
  margin-top:0 !important;
}


// voorkom te lange regels
p, .text{
  max-width:660px;
}


#searchcontent{
          -webkit-transition: all 500ms ;
  -moz-transition: all 500ms ;
  -ms-transition: all 500ms ;
  -o-transition: all 500ms ;
  transition: all 500ms ;
}

.container-fluid{
  padding-left:0px !important;
  padding-right:0px !important;
}
// @media screen and (max-width:960px){
//    .container-fluid{
//     padding-left:15px !important;
//     padding-right:15px !important;
//   }
// }

// @media screen and (max-width:480px){
//    .container-fluid{
//     padding-left:0px !important;
//     padding-right:0px !important;
//   }
// }

.submenu{
  /*max-width:600px;*/
  padding:12px 0;
  li{
  float:right;
  margin-left: 1.5em;
  }

}


.login {
  float: right;
  margin-left: 1.5em;
}

.importantmg {
  width: 100%;
}

.vertical-spacing{
	margin:1em 0;
}

.nomargin{
	margin-left:0 !important;
}

a{
  color:$oranje !important;
}


#appreciableBtn{
  form {display: none}
  .appreciableBtn{

  }
}


.chat{background: $oranje;}
.smallspacing{padding:15px;}
#chatBox{
  height:300px;
  width:100%;
  overflow: scroll;
  ul{
    width:100%;
  }
}




.h-spacing{padding:0 15px;}
.v-spacing{padding:15px 0;}
.spacing{padding:15px 50px;}


.sidebar{
  background: $grijs_licht;
  .spacing{padding:36px !important;}
  section{margin-bottom: 1.5em}
}

.wrapper{
  // max-width:1280px;
  margin:0 auto;
}


.hoofdmenu{
  *{@extend %transition}
  min-height:100px;
  li{
    @extend %transition;
    position: relative;
    a{color:#fff !important;}
    &:hover{background: $oranje; color:#fff;}
    a{font-size:18px; text-transform: uppercase; font-weight: bold;
    @extend %transition;
    position: relative; width:100%; height:100%; display: block; text-align: center;
    padding:15px 0;

    }
    border-bottom:1px solid $grijs_licht;
    text-align: center;
  }
}

.usermenu{
  border-left:1px solid $grijs_donker;
  .user_credentials{float:right;  }
}


%slope{
  height:$slopeheight;
  width:100%;
  // float:left;
  // background: red
  overflow: hidden;
  position: relative;
}

.slopel{
  @extend %slope;
}

.sloper{
  @extend %slope
}
.slopershape{
  left:0;
}
.slopelshape{
  right:0;
}

.orange{
  .slopershape{
    border-top: 0px solid $oranje_tint;
    border-left: 1920px solid $oranje_tint;
    border-right: 0px solid $oranje_tint;
    border-bottom: $slopeheight solid transparent;
    position: absolute;
    top:0;
    height:0;
    // width:100%;
  }

  .slopelshape{
    border-top: $slopeheight solid transparent;
    position: absolute;
    top:0;
    border-right: 1920px solid $oranje_tint;
    border-bottom: 0px solid $oranje_tint;
    border-left: 0px solid $oranje_tint;
    height:0;
    // width:100%;

  }
}



.black{
  .slopershape{
    border-top: 0px solid $zwart;
    border-left: 1920px solid $zwart;
    border-right: 0px solid $zwart;
    border-bottom: $slopeheight solid transparent;
    position: absolute;
    top:0;
    right:0;
    height:0;
    // width:100%;
  }

  .slopelshape{
    border-top: $slopeheight solid transparent;
    position: absolute;
    top:0;
    left:0px;
    border-right: 1920px solid $zwart;
    border-bottom: 0px solid $zwart;
    border-left: 0px solid $zwart;
    height:0;
    // width:100%;

  }
}

.grey{

  .slopershape{
    border-top: 0px solid $grijs_licht;
    border-left: 1920px solid $grijs_licht;
    border-right: 0px solid $grijs_licht;
    border-bottom: $slopeheight solid transparent;
    margin-bottom:-$slopeheight;
    position: absolute;
    top:0;
    left:0px;
    height:0;
    // width:100%;
  }

  .slopelshape{
    border-top: $slopeheight solid transparent;
    position: absolute;
    top:0;
    right:0px;
    border-right: 1920px solid $grijs_licht;
    border-bottom: 0px solid $grijs_licht;
    border-left: 0px solid $grijs_licht;
    height:0;
    // width:100%;

  }
}
.volgende_uitzending{
  background: $oranje
}

.clear{clear:both};
.spacefix{margin-top:$slopeheight*-1; float: left}

a:hover{
  text-decoration: none !important;
}

$degree:3deg;
.imgmask{
  overflow: hidden;
  position: relative;;
  // -webkit-transform: skewY(-$degree);
  //   -moz-transform: skewY(-$degree);
  //   -ms-transform: skewY(-$degree);
  //   -o-transform: skewY(-$degree);
  //   transform: skewY(-$degree);
  // *{
  //   -webkit-transform: skewY($degree);
  //   -moz-transform: skewY($degree);
  //   -ms-transform: skewY($degree);
  //   -o-transform: skewY($degree);
  //   transform: skewY($degree);
  // }
  img{
    height:auto;
    width:100%;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    margin-top:-5%;
  }
}

.intro{
  h1{font-size:5em; line-height:1.5 !important; }
  background: url(image_path("home_bg.jpg")) no-repeat center center;
  min-height:500px;
  background-size:cover;

}

.highlight{
  background: $oranje;
}

.karmascore{
  font-size:3em;
  font-weight:bold;
  line-height: 1 !important;
}


ul.itemlist{
  padding-right:6%;
  li{padding-bottom: 15px; border-bottom: 1px solid $grijs_licht}
}

ul{
  padding:0 !important;
  list-style: none;
  margin:0 !important;
}

.user{
  *{text-transform: uppercase;}
}

.pageheader{
  font-size:3em;
  line-height: 1.5;
}

@media screen and (max-width:1440px){
  .pageheader{
    font-size:6em;
    /*-webkit-transform:rotate(-$degree);*/
  }
}

.homespacefix{
  height:$slopeheight;
  width:100%;

}



.avatar{float:left; margin-right:9px; margin-bottom: 9px}
.karmascore{float:left; padding-left:9px ;}
.user_info{float:left; }

.Toggle{ display: none; padding:15px 0px; text-align: center; cursor: pointer; background: $oranje; }
header .Toggle{margin-top:25px;}


$slopefixheight:36px;
// mobile only
@media screen and(max-width:640px){
  .slopel, .sloper{ height:$slopefixheight !important;}
  .homespacefix{height:$slopefixheight;}
  .slopel.menu{margin-bottom:-$slopefixheight;}
  .spacefix{margin-top:-$slopefixheight;}
  .slopershape{border-bottom: $slopefixheight solid transparent !important;}
  .slopelshape{border-top: $slopefixheight solid transparent !important;}

  .spacing{padding:15px;}
  .Toggle{ display: block;}
  .toggler{max-height: 0; overflow: hidden;
  //   -webkit-transition: all 500ms ;
  // -moz-transition: all 500ms ;
  // -ms-transition: all 500ms ;
  // -o-transition: all 500ms ;
  // transition: all 500ms ;
  }
  .logo a{
      width:150px;
      display: block;
      margin:0 auto;

  }


  .intro h1, .pageheader{font-size:2em !important; line-height:1.5 !important; }
}


.field{margin:2em 0;}
input[type="text"], input[type="password"], input[type="email"], textarea{
  outline:none;
  // font-weight: 100;
  border-radius: 0 !important;
  border:1px solid transparent !important;
  background: $input_grey !important;
  margin-right:1em;
  color:#fff !important;
  @extend %transition;
  &:focus{border:1px solid $oranje !important; box-shadow: none !important; color:$oranje !important;}
}
textarea{
  width: 96% !important;
  padding:2% !important;
  &:focus{color:#fff !important;}
}

label{ font-weight: 900; text-transform: uppercase; margin-right: 1em;}

@media screen and (min-width:1440px){
  input.makeitbig{
    font-size:4em !important;
    width: 72%;
    padding:4% !important;
  }
}

@media screen and (min-width:768px){
  input.makeitbig{
    font-size:3em !important;
    width: 72%;
    padding:4% !important;
  }
}


// mobile only
@media screen and (max-width:640px){
  header.main{
    width:96%;
    padding:30px 2% 0;
  }
  .submenu{
    li{float:left !important; width: 33.3% !important; margin: 0 !important; text-align: center;}
    width:100%;
    float: left;
  }

  .searchform {
    width: 100% !important;

    form {
      #search_field {
        width: 75% !important;
      }
      #search_button {
        width: 20% !important;
      }

    }


  }



  .searchform form #search_button {
    width: 20% !important;
  }

  .user_credentials{float: left;  width:100% !important;}
}


// tablet en mobile
@media screen and (max-width:960px){
  header.main{
    width:96%;
    padding:30px 2% 0;
  }
}


//tablet only
@media screen and(min-width:641px) and (max-width:960px){

  .hoofdmenu{
    ul{
      li{ width:46% !important; padding:0 2% !important; float: left !important; }
    }
  }

  .usermenu{width:100% !important; margin-top:9px; float:left !important;
    .submenu:first-child{ float:right; li{float:right !important; margin-right:6px;}}
    .user_credentials{float: right;  width:50% !important;}
  }
  .submenu{
    width:50%;
    float: left
  }
}


@media screen and(min-width:641px) and (max-width:960px){
  .span14.hoofdmenu{
    width:75% !important;
    float:left !important;
    margin-left:0 !important;
  }
  .logo{ width:25% !important; margin-bottom:15px !important; float:left !important;}
}


@media screen and(min-width:1024px){
  .livestream .spacing{padding-right:0;}
}



body{overflow-x:hidden;}

.toggler.open{
  max-height:100% !important;
}

@media screen and (max-width:1280px){
  .content{width:100% !important;}
  .sidebar{width:100% !important; margin-left:0 !important;}
}

.footerspacer{height:$slopeheight; width:100%;}
footer{
  padding-bottom:50px;
  background: $grijs_licht;
  li{float:left; margin:12px;}
}
.center{
  margin:0 auto;
  max-width:960px;
}
