/*
//= require reset
//= require fontface
//= require bootstrap
//= require_self

//= require erik
//= require alvin

*/

$oranje:#ff5400;
$darkorange:#c44102;
$zwart:#070707;
$wit:#ffffff;
$grijs_licht:#1c1c1c;
$grijs_donker:#1c1c1c;
$timecolor:#666666;
$oranje_tint:$oranje;
// $input_grey:#3d3d3d;
$input_grey:#222222;
$slopeheight:90px;

%inlineblock{
  display: inline-block;
  zoom:1; /* IE 7 Hack starts here*/
  *display:inline; /* IE 7 Hack starts here*/
}

.logo{
  position: relative;
  overflow: hidden;

}

.icon{
  background: url(image_path("icons.png"));
  background-position-y: -30px;
  width:50px !important;
  height:50px !important;
  margin:0 6px -0.3em 0;
  margin-bottom:-8px;
  @extend %inlineblock;
}
.icon.white{background-position-y: -90px;}
.icon.grey{background-position-y: -150px;}

.icon.Channel{background-position-x: -30px}
.icon.Episode{background-position-x: -90px}
.icon.Challenge{background-position-x: -150px}
.icon.Solution{background-position-x: -210px}
.icon.Karma{background-position-x: -270px}
.icon.Idea{background-position-x: -330px}
.icon.Post{background-position-x: -390px}

.iconbtn{
  height: 50px;
  padding:6px 12px;
  line-height: 50px !important;
  .icon{ margin-bottom:-20px;  }
}

%transition{
  -webkit-transition: all 500ms ;
  -moz-transition: all 500ms ;
  -ms-transition: all 500ms ;
  -o-transition: all 500ms ;
  transition: all 500ms ;
}

.btn{
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  background: $oranje;
  color:$grijs_licht;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  // color: #333333;
  color:#fff;
  // *background-color: #d9d9d9;
}

.more{
  color :#fff !important;
}

.pagination{
  border-top:1px solid $grijs_licht;
  text-align: center;
  margin-top:51px;
  padding-top:12px;
  font-size: 1.3em;
  a,.current{@extend %inlineblock; margin:0 0.2em;text-align: center; width:50px; height:50px; line-height: 50px;}
  .disabled{color: $timecolor;}
  .current{font-weight: bold;font-style: normal; background:$oranje; }
}
.pagination.top{
  border-bottom:1px solid $grijs_licht;
  border-top:0px solid $grijs_licht;
  margin-bottom:51px;
  padding-bottom:12px;
  margin-top:0;
  padding-top:0;
}

body{
  color:$wit !important;
  font-family:"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  font-size:15px !important;
  line-height:1.5 !important;
  font-weight:lighter !important;
  padding-top:0px !important;
  background:$zwart !important;
  max-width: 1920px;
}
.text {
    font-size:17px !important;
    font-weight:lighter;
    line-height:1.7em !important;
}
.line{
  border-bottom: $grijs_donker 1px solid;
  margin: 0px 2em !important;
  padding: 0px 0px !important
}
header{
  padding:30px 15px 0 15px;

  // background:$oranje;
  position: relative;
  border-top:9px $oranje solid;
  // overflow: hidden;
  .background{
    border-top: 320px solid $grijs_donker;
    border-right: 320px solid transparent;
    border-left: 0px solid $grijs_donker;
    border-bottom: 0px $slopeheight solid $grijs_donker;
    position: absolute;
    top:0;
    left:0;
    height:0;
  }
}
.slopel.menu{margin-bottom:-$slopeheight;}


h1, h2, h3, h4, h5, h6{
  font-family:"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  text-transform:uppercase;
  letter-spacing:1px;
  margin-top:0 !important;
}


// voorkom te lange regels
p, .text{
  max-width:660px;
}


#searchcontent{
          -webkit-transition: all 500ms ;
  -moz-transition: all 500ms ;
  -ms-transition: all 500ms ;
  -o-transition: all 500ms ;
  transition: all 500ms ;
}

.container-fluid{
  padding-left:0px !important;
  padding-right:0px !important;
}


.submenu{
  /*max-width:600px;*/
  padding:12px 0;
  li{
  float:right;
  margin-left: 1.5em;
  }

}


.login {
  float: right;
  margin-left: 1.5em;

}

.importantmg {
  width: 100%;
}

.vertical-spacing{
	margin:1em 0;
}

.nomargin{
	margin-left:0 !important;
}


.highlight {
  a{color:#fff;}
  .text a{ color: $grijs_donker; text-transform: uppercase; font-weight: 600}
  h3,h4,h5,h6{color: $grijs_licht !important;}

  .btn{background:$grijs_licht !important; color:#fff !important;}
  .btn:hover{color:$oranje !important; .icon{background-position-y: -30px }}
}
.text a{ color: $oranje; text-transform: uppercase; font-weight: 600}


#appreciableBtn{
  -webkit-box-shadow:0px 0px 0px $oranje;
  -webkit-transition: all 2000ms ;
  -moz-transition: all 2000ms ;
  -ms-transition: all 2000ms ;
  -o-transition: all 2000ms ;
  transition: all 2000ms ;
  form {display: none}
}


.chat{background: $oranje;}
.smallspacing{padding:15px;}
#chatBox{
  height:300px;
  width:100%;
  overflow: scroll;
  ul{
    width:100%;
  }
}




.h-spacing{padding:0 15px;}
.v-spacing{padding:15px 0;}
.spacing{padding:21px 51px;}
.spacing.nov{padding:0px 51px;}


.sidebar{
  background: $grijs_donker;
  .spacing{padding:36px !important;}
  section{margin-bottom: 1.5em}
}

.wrapper{
  // max-width:1280px;
  margin:0 auto;
}


.hoofdmenu{
  *{@extend %transition}
  width:100%;
  min-height:100px;
  float: left;
  li{
    @extend %transition;
    position: relative;
    border-left:1px solid $timecolor;
    a{color:#fff !important;}
    &:hover{background: $oranje; color:#fff;}
    a{font-size:15px; text-transform: uppercase; font-weight: normal;
    @extend %transition;
    position: relative; width:100%; height:100%; display: block; text-align: center;
    padding:15px 0;

    }
    // border-bottom:1px solid $grijs_licht;
    text-align: center;
  }
}

.usermenu{
  // border-left:1px solid $grijs_donker;
  // .user_credentials{float:right;  }
}


%slope{
  height:$slopeheight;
  width:100%;
  // float:left;
  // background: red
  overflow: hidden;
  position: relative;
}

.slopel{
  @extend %slope;
}

.sloper{
  @extend %slope
}
.slopershape{
  left:0;
}
.slopelshape{
  right:0;
}

.orange{
  .slopershape{
    border-top: 0px solid $oranje_tint;
    border-left: 1920px solid $oranje_tint;
    border-right: 0px solid $oranje_tint;
    border-bottom: $slopeheight solid transparent;
    position: absolute;
    top:0;
    height:0;
    // width:100%;
  }

  .slopelshape{
    border-top: $slopeheight solid transparent;
    position: absolute;
    top:0;
    border-right: 1920px solid $oranje_tint;
    border-bottom: 0px solid $oranje_tint;
    border-left: 0px solid $oranje_tint;
    height:0;
    // width:100%;

  }
}



.black{
  .slopershape{
    border-top: 0px solid $zwart;
    border-left: 1920px solid $zwart;
    border-right: 0px solid $zwart;
    border-bottom: $slopeheight solid transparent;
    position: absolute;
    top:0;
    right:0;
    height:0;
    // width:100%;
  }

  .slopelshape{
    border-top: $slopeheight solid transparent;
    position: absolute;
    top:0;
    left:0px;
    border-right: 1920px solid $zwart;
    border-bottom: 0px solid $zwart;
    border-left: 0px solid $zwart;
    height:0;
    // width:100%;

  }
}

.grey{

  .slopershape{
    border-top: 0px solid $grijs_donker;
    border-left: 1920px solid $grijs_donker;
    border-right: 0px solid $grijs_donker;
    border-bottom: $slopeheight solid transparent;
    margin-bottom:-$slopeheight;
    position: absolute;
    top:0;
    left:0px;
    height:0;
    // width:100%;
  }

  .slopelshape{
    border-top: $slopeheight solid transparent;
    position: absolute;
    top:0;
    right:0px;
    border-right: 1920px solid $grijs_donker;
    border-bottom: 0px solid $grijs_donker;
    border-left: 0px solid $grijs_donker;
    height:0;
    // width:100%;

  }
}
.volgende_uitzending{
  background: $oranje
}

.clear{clear:both};
.spacefix{margin-top:$slopeheight*-1; float: left}

a:visited{
  text-decoration: none !important;
  color: $darkorange;
  h1,h2,h3,h4,h5,h6{color: $darkorange;}
}

a:hover{
  text-decoration: none !important;
  color: #fff !important;
  background: $oranje !important;
}

$degree:3deg;
.imgmask{
  overflow: hidden;
  position: relative;;
  // -webkit-transform: skewY(-$degree);
  //   -moz-transform: skewY(-$degree);
  //   -ms-transform: skewY(-$degree);
  //   -o-transform: skewY(-$degree);
  //   transform: skewY(-$degree);
  // *{
  //   -webkit-transform: skewY($degree);
  //   -moz-transform: skewY($degree);
  //   -ms-transform: skewY($degree);
  //   -o-transform: skewY($degree);
  //   transform: skewY($degree);
  // }
  img{
    height:auto;
    width:100%;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    margin-top:-5%;
  }
}

.intro{
  h1{font-size:5em; line-height:1.5 !important; }
  background: url(image_path("home_bg.jpg")) no-repeat center center;
  min-height:500px;
  background-size:cover;

}

.highlight{
  background: $oranje;
  h1,h2,h3,h4,h5,h6{color:#fff !important;}
}

.karmascore{
  font-size:3em;
  font-weight:200;
  line-height: 1 !important;
}
.karmarank{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 10px;
}


ul.itemlist{
  padding-right:6% !important;
  li{padding-bottom: 15px; border-bottom: 1px solid $grijs_licht}
}
footer ul.itemlist li{border-bottom: none}
.challenges.itemlist{ padding-right:0% !important;}
table.challenges{width:100% !important;
  th{padding:1em 0;}
  td{padding:1em 0; border-top:1px solid  $timecolor; border-bottom:1px solid  $timecolor;}
}
.challengeindex{ padding-right:0% !important; margin-bottom: 1em;padding-bottom: 1em; border-bottom: 1px solid $timecolor}

ul{
  padding:0 !important;
  list-style: none;
  margin:0 !important;
}

.user{
  *{text-transform: uppercase;}
}

.pageheader{
  font-size:3em;
  line-height: 1.5;
}

@media screen and (min-width:1440px){
  .pageheader{
    font-size:6em;
    /*-webkit-transform:rotate(-$degree);*/
  }
}

.homespacefix{
  height:$slopeheight;
  width:100%;

}



.avatar{float:left; margin-right:9px; margin-bottom: 9px}
.karmascore{float:left; padding-left:9px;}
.user_info{float:left; h2{font-size:12px !important; line-height: 1}}

.Toggle{ display: none; padding:15px 0px; text-align: center; cursor: pointer; background: $oranje; }
header .Toggle{margin-top:25px;}


$slopefixheight:36px;



.field{margin:2em 0;}
input[type="text"], input[type="password"], input[type="email"], textarea{
  outline:none;
  // font-weight: 100;
  border-radius: 0 !important;
  border:1px solid transparent !important;
  background: $input_grey !important;
  margin-right:1em;
  color:#fff !important;
  @extend %transition;
  &:focus{border:1px solid $oranje !important; box-shadow: none !important; color:$oranje !important;}
}
textarea{
  width: 96% !important;
  padding:0.5em 2% !important;
  &:focus{color:#fff !important;}
}

label{ font-weight: 900; text-transform: uppercase; margin-right: 1em;}




.footerspacer{height:$slopeheight; width:100%;}
footer{
  padding-bottom:50px;
  background: $grijs_donker;
  li{float:left; margin:12px;}
}
.center{
  margin:0 auto;
  max-width:960px;
}


.blogcenter{
  max-width: 960px;
  margin:0 auto;
}
.showcenter{
  max-width: 1440px;
  margin:0 auto;
}
.dynamic_block{
  background: $grijs_donker;
  label{margin-left:1em; display: inline}
}

.nested_field_btn{
  padding:15px 2%;
  width:96%;
  background: $oranje;
  color:#fff !important;
  float:left;
  text-align:center;
  font-weight: 900;
  text-transform: uppercase;
}
div.input.text{
  margin:0 !important;
  max-width:100% !important;

  textarea.text{
    width:96% !important;
    padding:15px 2%;
    max-width:100% !important;
  }
}

.dynamic_submit{
  @extend %transition;
  background: $grijs_licht;
  color:#fff !important;
  border:none !important;
  padding:1em ;
  font-size:2em ;
  margin:1em 0 ;
  text-transform: uppercase;
  &:hover{background:$oranje;}

}
.dynamic_remove{
  @extend .dynamic_submit;
  padding:0.2em !important;
  margin:0.2em 0 !important;
}

time{
  font-weight: 600;
  text-transform: uppercase;
  color:$timecolor;
}
a{@extend %transition}
.logo a:hover{ background: none !important}

.collection article{
  margin-bottom: 2em;
}
body{overflow-x:hidden;}

.toggler.open{
  max-height:100% !important;
}

.points{font-size:5em; font-weight: bold; text-align: center; }
.chatForm.input-append{
  input[type="submit"]{ height:34px; width:20%;}
  input[type="text"]{margin-right:0px; width:70%; padding:6px 2%;}
}
input[type="submit"]{background:$timecolor !important; color:#fff !important; font-family: "Open Sans" !important; font-weight: bold; text-transform: uppercase;border:0px; border-radius:0px !important; @extend %transition;}
input[type="submit"]:hover{background:$oranje !important}


// geef de geselecteerde text kleur mee
::selection {
  background: #ff7e00; /* Safari */
  color:#fff;
  }
::-moz-selection {
  background: #ff7e00; /* Firefox */
  color:#fff;
}

.user{max-width:420px; float: left; width:100%;}
.karma{
  author{margin:2em 0; float:left;}
}

.comment{
  border-bottom: 1px solid $grijs_licht;
  margin-top:0.5em;
  float: left;
  width:100%;
  padding-left:2%;
  border-left: 3px solid $oranje;
  .content{float: left; }
  .useravatar{float: left; margin:0 1em 1em 0; width:150px;}
}
.ideacontent{padding-top:1em;}



//holy button
@-webkit-keyframes pulsate
{
  0%{
    -webkit-box-shadow:0px 0px 21px $oranje;
  -moz-box-shadow:0px 0px 21px $oranje;
  -o-box-shadow:0px 0px 21px $oranje;
  -ms-box-shadow:0px 0px 21px $oranje;
  box-shadow:0px 0px 21px $oranje;
  }
50% {
  -webkit-box-shadow:0px 0px 45px $oranje;
  -moz-box-shadow:0px 0px 45px $oranje;
  -o-box-shadow:0px 0px 45px $oranje;
  -ms-box-shadow:0px 0px 45px $oranje;
  box-shadow:0px 0px 45px $oranje;
  }

100%{
  -webkit-box-shadow:0px 0px 21px $oranje;
    -moz-box-shadow:0px 0px 21px $oranje;
    -o-box-shadow:0px 0px 21px $oranje;
    -ms-box-shadow:0px 0px 21px $oranje;
    box-shadow:0px 0px 21px $oranje;
  }
}

.holy{
  -webkit-box-shadow:0px 0px 21px $oranje;
  -moz-box-shadow:0px 0px 21px $oranje;
  -o-box-shadow:0px 0px 21px $oranje;
  -ms-box-shadow:0px 0px 21px $oranje;
  box-shadow:0px 0px 21px $oranje;
  color:#fff !important;
  animation: pulsate 2s infinite;
  -moz-animation: pulsate 2s; /* Firefox */
  -webkit-animation: pulsate 2s infinite; /* Safari and Chrome */
  -o-animation: pulsate 2s; /* Opera */
}



/*========= media queries, geen gewone css hieronder ==================================================================*/

// mobile only
@media screen and(max-width:640px){
  .comment .useravatar{width:75px;}
  .slopel, .sloper{ height:$slopefixheight !important;}
  .collection article{border-bottom: 1px solid $grijs_licht; padding-bottom:2em;}
  .homespacefix{height:$slopefixheight;}
  .slopel.menu{margin-bottom:-$slopefixheight;}
  .spacefix{margin-top:-$slopefixheight;}
  .slopershape{border-bottom: $slopefixheight solid transparent !important;}
  .slopelshape{border-top: $slopefixheight solid transparent !important;}
  .hoofdmenu{float:none; li{border-left:none;}}
  .activity{margin-bottom: 2em; border-bottom: 1px solid $timecolor}
  .icon{float:left;}
  .spacing{padding:15px;}
  .Toggle{ display: block;}
  .toggler{max-height: 0; overflow: hidden;
  //   -webkit-transition: all 500ms ;
  // -moz-transition: all 500ms ;
  // -ms-transition: all 500ms ;
  // -o-transition: all 500ms ;
  // transition: all 500ms ;
  }
  .logo a{
      width:150px;
      display: block;
      margin:0 auto;

  }


  .intro h1, .pageheader{font-size:2em !important; line-height:1.5 !important; }
}

@media screen and (min-width:1440px){
  input.makeitbig{
    font-size:4em !important;
    width: 92%;

    padding:4% !important;
  }
}

@media screen and (min-width:768px){
  input.makeitbig{
    font-size:3em !important;
    width: 92%;
    padding:4% !important;
  }
}


// mobile only
@media screen and (max-width:640px){
  header.main{
    width:96%;
    padding:30px 2% 0;
  }
  .submenu{
    li{float:left !important; width: 33.3% !important; margin: 0 !important; text-align: center;}
    width:100%;
    float: left;
  }

  .searchform {
    width: 100% !important;

    form {
      #search_field {
        width: 75% !important;
      }
      #search_button {
        width: 20% !important;
      }

    }


  }



  .searchform form #search_button {
    width: 20% !important;
  }

  .user_credentials{float: left;  width:100% !important;}
}


// tablet en mobile
@media screen and (max-width:960px){
  header.main{
    width:96%;
    padding:30px 2% 0;
  }
}


//tablet only
@media screen and(min-width:641px) and (max-width:960px){

  .hoofdmenu{
    ul{
      li{ width:46% !important; padding:0 2% !important; float: left !important; }
    }
  }

  .usermenu{width:100% !important; margin-top:9px; float:left !important;
    .submenu:first-child{ float:right; li{float:right !important; margin-right:6px;}}
    .user_credentials{float: right;  width:50% !important;}
  }
  .submenu{
    width:50%;
    float: left
  }
}


@media screen and(min-width:641px) and (max-width:960px){
  .span14.hoofdmenu{
    width:75% !important;
    float:left !important;
    margin-left:0 !important;
  }
  .logo{ width:25% !important; margin-bottom:15px !important; float:left !important;}
}


@media screen and(min-width:1024px){
  .livestream .spacing{padding-right:0;}
}


@media screen and (max-width:1024px){
  .content{width:100% !important;}
  .sidebar{width:100% !important; margin-left:0 !important;}
  .otherChallenges{
    width:100% !important;
  }
  .spacing, .spacing.nov{padding:21px 1em;}
  .smallspacing{margin-left:1em !important;margin-right:1em !important; padding:15px 0 !important;}
  ul.itemlist{padding-right:0 !important;}
}

