/*
//= require reset

//= require_self
//= require_tree .
*/

.submenu{
  /*max-width:600px;*/
  li{
  float:right;
  margin-left: 1.5em;
  }

}


.login {
  float: right;
  margin-left: 1.5em;
}

.img {
  width: 100%;
}

.vertical-spacing{
	margin:1em 0;
}

.nomargin{
	margin-left:0 !important;
}