// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$zwart:#1b1b1b;
$wit:#ffffff;
$grijs_licht:#1c1c1c;
$grijs_donker:#141414;

// Idee pagina
.idea_show {
  h1 {
    margin:0;
    padding:0;
  }

}
// Challenge pagina
.ideacontent, .postcontent, .challengecontent {
  h1 {
    padding:0;
    margin:0;
  }
  .btn {
    margin:0.9em 0 0.6em 0;
  }
  img {
    margin:0.5em 0 0.8em 0;
  }
}
.alle_oplossingen {
  h3 {
    padding:1.4em 0 0 0;
  }
  .span24 {
    margin:0;
  }
  .text {
    font-size:1.0em !important
  }
  author {
  	font-size:0.9em;
    padding:0;
    margin:0;
    text-transform: uppercase;
  }
  time {
    font-size:0.9em;
    padding:0;
    margin:0;
  }
}
// Blog pagina
.comments {
    margin:1.5em 0 0 0;
}
.blog_show {
  .general {
    margin:0 0 0.6em 0;
  }
  h1 {
    margin:0;
    padding:0;
  }
  author {
    text-transform: uppercase;
  }
  .text {
    margin:0.4em 0 0 0;
  }
}

// Comments
.comment {
  .span3 {
    margin:0 0 1em 0;
  }
}
// Eposide
.vraag_stellen {
  .orangebg {
    background:$grijs_donker !important;
    margin:0.8em 0 0.3em 0;
    padding:1em 1em 0.1em 1em;
  }
  author {
    text-transform: uppercase;
  }
  input {
    // border: solid 1px #303030!important;
  }
  #new_question {
    clear:left;
    width:96%;
  }
  .btn {
    background:#ff5800!important;
  }
}

.vragen {
  .vraag_text {
  padding:0.2em 0 0 0;
  margin:0 0 5.2em 0;
  list-style-type: none;
  }
  .vraag {
    margin:0;
    padding:0 2.5em 1em 0;
  }
  time {
    display:inline;
  }
}
