// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Challenge pagina
.ideacontent, .postcontent, .challengecontent {
  h1 {
    padding:0;
    margin:0;
  }
  .btn {
    margin:0.9em 0 0.6em 0;
  }
  img {
    margin:0.5em 0 0 0;
  }
}
.alle_oplossingen {
  h3 {
    padding:1.4em 0 0 0;
  }
  .span24 {
    margin:0;
  }
  .text {
    font-size:1.0em !important
  }
  author {
  	font-size:0.9em;
    padding:0;
    margin:0;
  }
  time {
    font-size:0.9em;
    padding:0;
    margin:0;
  }
}
// Blog pagina
.comments {
    margin:1.5em 0 0 0;
}

// Comments
.comment {
  .span3 {
    margin:0 0 1em 0;
  }
}
// Eposide {
.vragen {
  li {
    list-style-type: none;
  }
}
.vraag_text {
  padding:0;
  .vraag {
    margin:0;
    padding:0 2.5em 0 0;
  }
}
