/ .navbar.navbar-fixed-top.navbar-inverse
/   .navbar-inner
/     / .container-fluid
/     %a.btn.btn-navbar{ :data => { :toggle => "collapse", :target => ".nav-collapse" } }
/       %span.icon-bar
/       %span.icon-bar
/       %span.icon-bar

/     .brand CrowdRevolt
/     .nav-collapse.collapse
/       %ul.nav
/         / %li= link_to :posts, :posts
/         %li= link_to :channels, :channels
/         / %li= link_to :users, :users

/       -if current_user
/         / Uitloggen
/         = link_to [:user_logout], :method => :delete, :class => "btn btn-inverse pull-right" do
/           %i.icon-off
/           Log uit
/       - else
/         = link_to [:user_login], :class => "btn btn-inverse pull-right" do
/           %i.icon-user
/           Inloggen
/         = link_to [:register], :class => "btn btn-inverse pull-right" do
/           %i.icon-user
/           registreer
/           /= admin_t(:menu, :logout)


.header
  .row-fluid
    .span6
      %img{:src => "http://placehold.it/350x150"}
    .span18.submenu
      %ul.span24
        %li
          inloggen
        %li
          registreren
    .span18
      %ul.span24
        - @channels.each do |channel|
          %li=link_to channel.title, channel

    .span18.submenu
      %ul.span24
        %li
          sub
        %li
          sub
        %li
          sub
        %li
          sub