.header
  .row-fluid
    .span6
      =link_to :root do
        =image_tag(asset_path("logo.png"))
    .span18.submenu
      %ul.span24
        %li
          inloggen
        %li
          registreren
    .span18
      %ul.span24
        - @channels.each do |channel|
          %li=link_to channel.title, channel

    .span18.submenu
      %ul.span24
        %li
          sub
        %li
          sub
        %li
          sub
        %li
          sub