.spacing
  = link_to t('back'), :back, :class => 'btn back'
  .row-fluid
    %h2
      .icon.Solution
      = t('solutions.solution_for')
    %h1.pageheader= @challenge.title
    .blogcenter
      .text=raw text_values(:new_solution).body
      .spacing
  = render :partial => "form"
