- content_for :breadcrumbs do
  %li=link_to t("home"), :root
  %li=link_to @challenge.channel.title, [@challenge.channel]
  %li=link_to @challenge.title, [@challenge.channel, @challenge]
.spacing

  .row-fluid
    %h2
      .icon.Solution
      = t('solutions.solution_for')
    %h1.pageheader= @challenge.title
    .blogcenter
      .text=raw text_values(:new_solution).body
      .spacing
  = render :partial => "form"
