%h1= @solution.title
%p=raw @solution.description
- @solution.blogitems.each do |item|
  = render "item", :item => item

=@solution.appreciables.count
/ -raise @appreciable.inspect
/ - if @appreciable.new_record?
#appreciableBtn
  .btn.appreciableBtn Karma +1
  =render "appreciable_form"

-if FunctionConfig.allowed?(:comments)
  %h1 Comments
  = render "commentform"
  - @solution.comments.each do |comment|
    = render comment