%h2 Selecteer een afbeelding
- @images.each do |image|
  = link_to image_thumb(image, :thumb), "#", :class => "image_selector_add btn thumbnail", :data => { :id => image.id, :url => image.image.url(:thumb), :width => image.min_w(:thumb), :height => image.min_h(:thumb), :text => t("admin.images.added") }